<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Gestionar habitos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <main class="habits-list-page">
        <section class="section-copy">
            <h1>Listado de habitos</h1>
            <p>Vista limpia para implementar la logica desde cero.</p>
        </section>

        <section class="available-slots">
            <ion-button expand="block" color="primary" routerLink="/onboarding/create-habits">
                Crear habito
            </ion-button>
        </section>
    </main>
</ion-content>
