/**
 * Ionic Dark Theme
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

@import '@ionic/angular/css/palettes/dark.always.css';
/* @import "@ionic/angular/css/palettes/dark.system.css"; */

:root {
    --app-primary: #18bc88;
    --app-primary-contrast: #ffffff;

    --ion-color-primary: var(--app-primary);
    --ion-color-primary-rgb: 24, 188, 136;
    --ion-color-primary-contrast: var(--app-primary-contrast);
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #15a678;
    --ion-color-primary-tint: #2fc397;

    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;
    --ion-text-color: #eef2f0;
    --ion-text-color-rgb: 238, 242, 240;

    --ion-item-background: #0b0f0d;
    --ion-card-background: #0b0f0d;
    --ion-toolbar-background: #000000;
    --ion-tab-bar-background: #000000;

    --ion-color-step-50: #121212;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #212121;
    --ion-color-step-200: #292929;
    --ion-color-step-250: #303030;
    --ion-color-step-300: #383838;
    --ion-color-step-350: #404040;
    --ion-color-step-400: #474747;
    --ion-color-step-450: #4f4f4f;
    --ion-color-step-500: #575757;
    --ion-color-step-550: #5f5f5f;
    --ion-color-step-600: #666666;
    --ion-color-step-650: #6e6e6e;
    --ion-color-step-700: #757575;
    --ion-color-step-750: #7d7d7d;
    --ion-color-step-800: #858585;
    --ion-color-step-850: #8c8c8c;
    --ion-color-step-900: #949494;
}
