<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
        <ion-title>Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <app-dashboard-habits
        [habits]="habits()"
        [completedTodayIds]="completedTodayIds()"
        [streakDays]="streakDays()"
        [isLoading]="isLoading()"
        [isUpdating]="isUpdating()"
        [pendingHabitIds]="pendingHabitIds()"
        [errorMessage]="errorMessage()"
        (habitToggle)="onHabitToggle($event)"
    ></app-dashboard-habits>
</ion-content>
