<ion-menu contentId="main-content" side="start" type="overlay">
    <ion-header>
        <ion-toolbar>
            <ion-title>Racha Clara</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list lines="none">
            <ion-menu-toggle autoHide="true">
                <ion-item button routerLink="/dashboard" routerLinkActive="menu-item-active" class="menu-item">
                    <ion-label>Dashboard</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle autoHide="true">
                <ion-item button routerLink="/habits" routerLinkActive="menu-item-active" class="menu-item">
                    <ion-label>Habitos</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle autoHide="true">
                <ion-item button routerLink="/history" routerLinkActive="menu-item-active" class="menu-item">
                    <ion-label>Historial</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle autoHide="true">
                <ion-item button routerLink="/settings" routerLinkActive="menu-item-active" class="menu-item">
                    <ion-label>Configuracion</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle autoHide="true">
                <ion-item
                    button
                    routerLink="/identity-challenges"
                    routerLinkActive="menu-item-active"
                    class="menu-item"
                >
                    <ion-label>Identity Challenges</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle autoHide="true">
                <ion-item button routerLink="/friends" routerLinkActive="menu-item-active" class="menu-item">
                    <ion-label>Amigos</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>
