<ion-menu contentId="main-content" side="start" type="overlay">
    <ion-header>
        <ion-toolbar>
            <ion-title>Racha Clara</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list lines="none">
            <ion-menu-toggle autoHide="true">
                <ion-item button routerLink="/tabs/dashboard" routerLinkActive="menu-item-active" class="menu-item">
                    <ion-label>Dashboard</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle autoHide="true">
                <ion-item button routerLink="/tabs/habits" routerLinkActive="menu-item-active" class="menu-item">
                    <ion-label>Habitos</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle autoHide="true">
                <ion-item button routerLink="/tabs/history" routerLinkActive="menu-item-active" class="menu-item">
                    <ion-label>Historial</ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle autoHide="true">
                <ion-item button routerLink="/tabs/settings" routerLinkActive="menu-item-active" class="menu-item">
                    <ion-label>Configuracion</ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>
