<ion-header translucent="true">
    <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <main class="unlock-modal-content">
        <ion-icon class="unlock-modal-icon" [name]="iconName" color="primary"></ion-icon>

        <ion-text color="light">
            <h2>{{ title }}</h2>
        </ion-text>

        <ion-text color="light">
            <p>{{ message }}</p>
        </ion-text>

        @if (subtext) {
            <ion-text color="medium">
                <p class="subtext">{{ subtext }}</p>
            </ion-text>
        }

        <ion-button expand="block" color="primary" (click)="close()">
            {{ buttonLabel }}
        </ion-button>
    </main>
</ion-content>
